<html>
    <head>
                <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98632670-2"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-98632670-2');
        </script>

        <title>StockBot</title>
        <!-- chart API -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    
        <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='preload' href='styles.css' as='style'>
        <link rel='preload' href='chat.js' as='script'>
        
        <link rel='stylesheet' href='/styles.css' />
    </head>
    <body>
        <div id='chat'>
            <div id='title'>
                <h2>Stocks Chat</h2>
            </div>
                                
            <div id='chat-window'>
                <div id='output'></div>
            </div>
            

            <div id='sendArrow'><span id='fontAwsome'><i class="fa fa-paper-plane"></i></span></div>            
            <input id='message' type='text' placeholder='IBM' onfocus="this.placeholder=''">
            
        </div>
        <div id ='translate'>
            
    
    
    </body>
    <script src='/chat.js'></script>    
</html>
        